
.menu{
    -fx-background-color: darkgrey;
}

.main{
    -fx-background-color: grey;
}

.topRight{
    -fx-background-color: grey;
}

.buzzWordTitle{
    -fx-font-size: 30px;
    -fx-text-fill: white;
}

.menu .button{
    -fx-pref-width: 200px;
    -fx-background-color: dimgrey;
    -fx-text-fill: white;
}

.menu .button:hover{
    -fx-background-color: black;
}

#exit {
    -fx-background-color: grey;
    -fx-border-color: transparent;
}

#exit:hover{
    -fx-background-color: darkred;
}


/*HOME SCREEN*/
.selectMode {
    -fx-background-color: dimgrey;
    -fx-prompt-text-fill: white;
}
.FXCollections {
    -fx-background-color: dimgray;
    -fx-text-fill:  white;
}


/*LEVEL SELECT*/
.levelTitle {
    -fx-underline: true;
    -fx-font-size: 20px;
    -fx-text-fill: white;
}



/*PLAY SCREEN*/
.gameplayStats{
    -fx-background-color: grey;
}

.gameplayStats .timer{
    -fx-background-color: lightgray;
}

.gameplayStats .timer .label {
    -fx-text-fill: red;
}

.gameplayStats .label{
    -fx-text-fill: black;
}

.gameplayStats .otherButtons {
    -fx-background-color: rgb(95, 95, 95);
}

.wordsScrollPane {
    -fx-background-color: rgba(0, 0, 0, 0.67);
    /*color dont change for some reason*/
    -fx-border-color: rgba(0, 0, 0, 0.67);
    -fx-text-fill: black;
}

#target {
    -fx-underline: true;
}

#playButton {
    -fx-background-color: grey;
    -fx-border-color: transparent;
}

#playButton:hover{
    -fx-background-color: darkred;
}